.Times {
    width: 10px;
    display: flex;
}
.button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 3.5pc 9px;
    width: 5pc;
    height: 5pc;
    text-decoration: underline;
    display: inline;
    /* font-size: 103%; */
    cursor: pointer;
}

@media (min-width: 320px) {
    .Times {
        width: 10px;
        display: flex;
    }
    .button {
        background-color: transparent;
        border: none;
        color: black;
        padding: 3.5pc 9px;
        width: 5pc;
        height: 5pc;
        text-decoration: underline;
        display: inline;
        /* font-size: 103%; */
        cursor: pointer;
    }
}
@media (min-width: 768px) {
    .Times {
        width: 10px;
        display: flex;
    }
    .button {
        background-color: transparent;
        border: none;
        color: black;
        padding: 3.5pc 9px;
        width: 6pc;
        height: 6pc;
        text-decoration: underline;
        display: inline;
        font-size: 103%;
        cursor: pointer;
    }
}